@font-face {
  font-family: "Inter";
  src:url(inter/regular.woff2) format("woff2"),
      url(inter/regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:url(inter/semibold.woff2) format("woff2"),
      url(inter/semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:url(inter/bold.woff2) format("woff2"),
      url(inter/bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
