.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
  transition: .6s;
  border-bottom: 1px #ffffff solid;
}

.place__link:hover {
  opacity: .8;
}