.page__places {
  margin: 12px auto 92px;
}

@media screen and (max-width: 1279px) {
  .page__places {
    margin: 12px 48px 92px;
  }
}

@media screen and (max-width: 1023px) {
  .page__places {
    margin: 12px 24px 92px;
  }
}

@media screen and (max-width: 767px) {
  .page__places {
    margin: 12px 0 65px;
  }
}