.footer {
  max-width: 1184px;
  min-height: 18px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    min-height: 310px;
  }
}