.header__list {
  display: flex;
  margin: 0 0 5px;
  padding: 0;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .header__list {
    margin: 0;
    align-items: center;
  }
}