.page__cover {
  margin: 0 auto 92px;
  width: 1184px;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .page__cover {
    margin: 0 auto 92px;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .page__cover {
    margin: 0 auto 88px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .page__cover {
    margin: 0 auto 64px;
    width: 100%;
  }
}